@import '~antd/dist/antd.css';
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  background-color: #ececec;
}
.charts-bg-color {
  background-color: #fff;
}
.charts-header {
  border-bottom: 1px solid #e5e5e5;
}

.charts-body {
  height: 600px;
}

.logo {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background: url('./assets/logo.png');
  background-size: 100% 100%;
}